/* My home nav*/
@media (min-width: 1281px) {
#main{
    min-width: 1280px;
    overflow: hidden;
}
/* #main::after{
    content: "";
    position: absolute;
    z-index: -1;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 15%);
    width: 100%;
    height: 100%;
} */

video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -9999;
    transform: translateX(-50%) translateY(-50%);
    filter: brightness(60%);
}

#nav{
    min-width: 1280px;
    height: 50px;
    /* border: 1px solid #fff; */
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    z-index: 9999;
}
#left_nav{
    width: 50%;
    float: left;
    overflow: hidden;
}
#left_nav img{
    cursor: pointer;
    padding-left: 10px;
}
#right_nav{
    width: 50%;
    float: left;
}
#right_nav::after{
    clear: both;
    content: "";
    position: relative;
}
#right_nav ul{
    padding: 23px 0 0 0;
    list-style: none;
    text-align: right;
    position: relative;
}
#right_nav ul li{
    display: inline-block;
    font-weight: bold;
    margin: 0 30px 0 30px;
    position: relative;
    top: -7px;
}
#right_nav li h5{
    cursor: pointer;
}

/*검색*/
.SearchBox{
    width: 300px;
    height: 30px;
    float: left;
    position: relative;
    top: 5px;
    margin-left: -100%;
}
#Search{
    width: 300px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}
#Search:focus{
    outline: none;
}
input[type="search"]::-webkit-search-cancel-button {
    /* 검색창 X표시 지우기 */
    display: none;
  }
#searchIcon{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
}
#searchIcon:hover{
    cursor: pointer;
}
input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.rotate{
    animation:1s ease-in-out rotate1;
}
@keyframes rotate1{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform:rotate(360deg);
    }
}
.back{
    animation:1s ease-in-out rotate2;
}
@keyframes rotate2{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform:rotate(360deg);
    }
}

#mainSlide{
    width: 1280px;
    height: 700px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}
.carousel-item{
    height: 700px;
}
.slideBtn{
    width: 100px !important;
}
.slide1_title{
    margin-top: 150px;
    text-align: center;
}
.slide1_title h1{
    color: #fff;
    font-size: 64px !important;
}
.slide1_contents{
    margin-top: 20px;
    /* line-height: 30px; */
    text-align: center;
}
.slide1_contents p{
    color: #fff;
}
.carousel-indicators{
    bottom: 10px !important;
}
.carousel-indicators>button{
    width: 100px !important;
}

#s1_main_Login{
    margin-top: 100px;
    text-align: center;
}

#s1_main_Login>button{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  #s1_main_Login>button:hover{
    background:rgba(255, 255, 255, 0);
    color:#fff;
  }
  #s1_main_Login>button:before,#s1_main_Login>button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #fff;
    transition:400ms ease all;
  }
  #s1_main_Login>button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  #s1_main_Login>button:hover:before,#s1_main_Login>button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  .slide2_main{
      width: 100%;
      height: 100%;
  }
  #M_BG{
      display: none;
  }
  .left_div{
      width: 345.6px;
      height: 100%;
      float: left;
      color: #fff;
      padding-left: 38.4px;
  }
  .right_div{
      width: 934.4px;
      padding-left: 89.6px;
      height: 100%;
      float: left;
  }
  .right_div::after{
      clear:both;
  }

  .left_div h1{
      position: relative;
      top: 30%;
      transform: translateY(-50%);
  }
  .left_div p{
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    }
    .left_div>button{
        background:#d48d5d;
        color:#fff;
        border:none;
        position:relative;
        height:60px;
        font-size:1.6em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
        margin-top: 300px;
    }
    .left_div>button:hover{
        background:rgba(255, 255, 255, 0);
        color:#fff;
    }
    .left_div>button:before,.left_div>button:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: #fff;
        transition:400ms ease all;
    }
    .left_div>button:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
    }
    .left_div>button:hover:before,.left_div>button:hover:after{
        width:100%;
        transition:800ms ease all;
    }
    .right_div ul{
        position: relative;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        list-style: none;
    }
    .right_div ul li{
        display: inline-block;
        width: 180px;
        height: 180px;
        margin-left: 20px;
    }
    .right_div img{
        width: 180px;
        height: 180px;
        cursor: pointer;
        transition: 0.3s ease-out all;
    }
    .right_div ul img:hover{
        transform: scale(1.1);
    }
    .right_div li{
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }
    .right_div li:nth-child(4){
        margin-left: 124px;
    }

    .slide3_title{
        margin-top: 150px;
        text-align: center;
    }
    .slide3_title h1{
        color: #fff;
        font-size: 64px !important;
    }
    .slide3_contents{
        margin-top: 20px;
        /* line-height: 30px; */
        text-align: center;
    }
    .slide3_contents p{
        color: #fff;
    }
  
    #s3_main_Login{
        margin-top: 100px;
        text-align: center;
    }
    
    #s3_main_Login>button{
        background:#3134d8;
        color:#fff;
        border:none;
        position:relative;
        height:60px;
        font-size:1.6em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
      }
      #s3_main_Login>button:hover{
        background:rgba(255, 255, 255, 0);
        color:#fff;
      }
      #s3_main_Login>button:before,#s3_main_Login>button:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: #fff;
        transition:400ms ease all;
      }
      #s3_main_Login>button:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
      }
      #s3_main_Login>button:hover:before,#s3_main_Login>button:hover:after{
        width:100%;
        transition:800ms ease all;
      }

      #s3_main_Login2{
        margin-top: 100px;
        text-align: center;
    }
    
    #s3_main_Login2>button{
        background:#d83198;
        color:#fff;
        border:none;
        position:relative;
        height:60px;
        font-size:1.6em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
      }
      #s3_main_Login2>button:hover{
        background:rgba(255, 255, 255, 0);
        color:#fff;
      }
      #s3_main_Login2>button:before,#s3_main_Login2>button:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: #fff;
        transition:400ms ease all;
      }
      #s3_main_Login2>button:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
      }
      #s3_main_Login2>button:hover:before,#s3_main_Login2>button:hover:after{
        width:100%;
        transition:800ms ease all;
      }

      #s3_ul{
          text-align: center;
          list-style: none;
      }
      #s3_ul li{
          display: inline-block;
      }
      #s3_ul li:nth-child(2){
          margin-left: 50px;
      }
    }

@media (min-width: 768px) and (max-width: 1280px) {
    video{
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        z-index: -9999;
        transform: translateX(-50%) translateY(-50%);
        filter: brightness(60%);
    }
    #main{
        min-width: 768px;
        overflow: hidden;
    }
    #nav{
        min-width: 768px;
        height: 50px;
        /* border: 1px solid #fff; */
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        z-index: 9999;
    }
    #left_nav{
        width: 50%;
        float: left;
        overflow: hidden;
    }
    #left_nav img{
        cursor: pointer;
        padding-left: 10px;
    }
    #right_nav{
        width: 50%;
        float: left;
    }
    #right_nav::after{
        clear: both;
        content: "";
        position: relative;
    }
    #right_nav ul{
        padding: 23px 0 0 0;
        list-style: none;
        text-align: right;
        position: relative;
    }
    #right_nav ul li{
        display: inline-block;
        font-weight: bold;
        margin: 0 30px 0 30px;
        position: relative;
        top: -7px;
    }
    #right_nav li h5{
        cursor: pointer;
    }
    /*검색*/
.SearchBox{
    width: 300px;
    height: 30px;
    float: left;
    position: relative;
    top: 5px;
    margin-left: -100%;
}
#Search{
    width: 300px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}
#Search:focus{
    outline: none;
}
input[type="search"]::-webkit-search-cancel-button {
    /* 검색창 X표시 지우기 */
    display: none;
  }
#searchIcon{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
}
#searchIcon:hover{
    cursor: pointer;
}
input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.rotate{
    animation:1s ease-in-out rotate1;
}
@keyframes rotate1{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform:rotate(360deg);
    }
}
.back{
    animation:1s ease-in-out rotate2;
}
@keyframes rotate2{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform:rotate(360deg);
    }
}

#mainSlide{
    width: 768px;
    height: 600px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}
.carousel-item{
    height: 600px;
}
.slideBtn{
    width: 100px !important;
}
.slide1_title{
    margin-top: 150px;
    text-align: center;
}
.slide1_title h1{
    color: #fff;
    font-size: 64px !important;
}
.slide1_contents{
    margin-top: 20px;
    /* line-height: 30px; */
    text-align: center;
}
.slide1_contents p{
    color: #fff;
}
.carousel-indicators{
    bottom: 10px !important;
}
.carousel-indicators>button{
    width: 100px !important;
}

#s1_main_Login{
    margin-top: 100px;
    text-align: center;
}

#s1_main_Login>button{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  #s1_main_Login>button:hover{
    background:rgba(255, 255, 255, 0);
    color:#fff;
  }
  #s1_main_Login>button:before,#s1_main_Login>button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #fff;
    transition:400ms ease all;
  }
  #s1_main_Login>button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  #s1_main_Login>button:hover:before,#s1_main_Login>button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

    .slide2_main{
        width: 100%;
        height: 100%;
    }
    /* .slide2_main::after{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    background-size: cover;
    width: 100%;
    height: 100%;
    } */
    .left_div{
        width: 192px;
        height: 100%;
        float: left;
        color: #fff;
        margin-left: 19.2px;
        margin-right: 19.2px;
    }
    .left_div h1{
        font-size: 32px;
    }
    .right_div{
        width: 448px;
        margin-left: 44.8px;
        margin-right: 44.8px;
        height: 100%;
        float: left;
    }
    .right_div::after{
        clear:both;
    }

    .left_div h1{
        position: relative;
        top: 30%;
        transform: translateY(-50%);
    }
    .left_div p{
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    }
    .left_div>button{
    background:#d48d5d;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-top: 300px;
    }
    .left_div>button:hover{
    background:rgba(255, 255, 255, 0);
    color:#fff;
    }
    .left_div>button:before,.left_div>button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #fff;
    transition:400ms ease all;
    }
    .left_div>button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
    }
    .left_div>button:hover:before,.left_div>button:hover:after{
    width:100%;
    transition:800ms ease all;
    }

    #XL_BG{
        display: none;
    }

    #M_BG{
        width: 100%;
        height: 400px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        /* overflow: hidden; */
    }
    #fadeimgList{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    #fadeimgList img{
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    #fadeimgList img:nth-child(1){
        display: block;
    }
    #prev{
        position: absolute;
        top: 0;
        width: 30px;
        height: 100%;
        text-align: center;
        left: 0;
        padding-top: 170px;
        color: #fff;
        font-size: 32px;
        z-index: 100;
    }
    #prev:hover{
        background: linear-gradient( to left, rgba(255, 0, 0, 0)0%, rgba(5, 5, 5, 0.336)100% );
        cursor: pointer;
    }
    #next{
        position: absolute;
        top: 0;
        width: 30px;
        height: 100%;
        text-align: center;
        right: 0;
        padding-top: 170px;
        color: #fff;
        font-size: 32px;
        z-index: 100;
    }
    #next:hover{
        background: linear-gradient( to right, rgba(255, 0, 0, 0)0%, rgba(5, 5, 5, 0.336)100% );
        cursor: pointer;
    }

    .slide3_title{
        margin-top: 150px;
        text-align: center;
    }
    .slide3_title h1{
        color: #fff;
        font-size: 64px !important;
    }
    .slide3_contents{
        margin-top: 20px;
        /* line-height: 30px; */
        text-align: center;
    }
    .slide3_contents p{
        color: #fff;
    }
  
    #s3_main_Login{
        margin-top: 100px;
        text-align: center;
    }
    
    #s3_main_Login>button{
        background:#3134d8;
        color:#fff;
        border:none;
        position:relative;
        height:60px;
        font-size:1.6em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
      }
      #s3_main_Login>button:hover{
        background:rgba(255, 255, 255, 0);
        color:#fff;
      }
      #s3_main_Login>button:before,#s3_main_Login>button:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: #fff;
        transition:400ms ease all;
      }
      #s3_main_Login>button:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
      }
      #s3_main_Login>button:hover:before,#s3_main_Login>button:hover:after{
        width:100%;
        transition:800ms ease all;
      }

      #s3_main_Login2{
        margin-top: 100px;
        text-align: center;
    }
    
    #s3_main_Login2>button{
        background:#d83198;
        color:#fff;
        border:none;
        position:relative;
        height:60px;
        font-size:1.6em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
      }
      #s3_main_Login2>button:hover{
        background:rgba(255, 255, 255, 0);
        color:#fff;
      }
      #s3_main_Login2>button:before,#s3_main_Login2>button:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: #fff;
        transition:400ms ease all;
      }
      #s3_main_Login2>button:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
      }
      #s3_main_Login2>button:hover:before,#s3_main_Login2>button:hover:after{
        width:100%;
        transition:800ms ease all;
      }

      #s3_ul{
          text-align: center;
          list-style: none;
      }
      #s3_ul li{
          display: inline-block;
      }
      #s3_ul li:nth-child(2){
          margin-left: 50px;
      }

}